
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact service map team
      </h1>

      <p>
      You can contact the service map team for the following reasons:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>information on a service page is incorrect</li>
        <li>a whole service is missing</li>
        <li>verify the information for a service</li>
      </ul>

      <p>
        Email the team at servicemap@communities.gov.uk
      </p>



    </div>
  </div>

{% endblock %}
