
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Help us make this service better
      </h1>

      <h2 class="govuk-heading-m">
        Something isn't right with the information for a service
      </h2>

      <p>
        If you know information on a service page is incorrect or a whole service is missing <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">contribute feedback</a> or <a href="contact-team">contact the service map team</a>.
      </p>

      <h2 class="govuk-heading-m">
        Verify the information for a service
      </h2>

      <p>
        Some services are listed as "not verified". This means the information has not been verified by the service team.
      </p>
      <p>
        If you can help verify the service information <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">contribute feedback</a> .
      </p>

      <p>
        <a hef="contact-team"></a>
      </p>

      <h2 class="govuk-heading-m">
        Contribute an idea to make this service better
      </h2>

      <p>
        If you have a suggestion to help improve the service beyond service information, <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">contribute feedback</a>.
      </p>

      <h2 class="govuk-heading-s">
        Can you offer support for this service?
      </h2>

      <p>
        If you can offer support, can contribute or collaborate to improve the service please <a href="contact-team">get in touch</a>. We'd love to hear from you.
      </p>



    </div>
  </div>

{% endblock %}
