
{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


{% endblock%}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">

        Policy area detail for <!-- {{ groupName }} --> Grenfell Site and Programme

      </h1>

    </div>

  </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Services</h2>

        <p>

          <!-- ** present service name and policy team ** -->

          <ol class="govuk-list govuk-list--number">

            <li><a href="service-info?numberOfService=187">Take part in deciding the future of the Grenfell site</a></li>
              <li><a href="service-info?numberOfService=184">Engagement with Grenfell community stakeholders</a></li>
                <li><a href="service-info?numberOfService=143">Build a Grenfell Memorial</a></li>
                  <li><a href="service-info?numberOfService=73">Grenfell Environmental Testing Programme
</a></li>

          {% set count = 0 %}
          {% for item in policyTeamServiceName %}

            <!--<li><a href="service-info?numberOfService={{ numberOfService[count] }}">{{item}}</a></li>-->

          {% set count = count + 1 %}
          {% endfor %}
          </ol>

        </p>

      </div>

      <div class="govuk-grid-column-one-third">

<h2 class="govuk-heading-m">End users served</h2>

<ol class="govuk-list govuk-list--number">

  <li>Grenfell survivor</li>
  <li>Member of Grenfell community</li>
  <li>Member of the public</li>
  <li>Community groups</li>
  <li>Resident in relevabt area</li>

  <!--<li>{{ policyTeamUsers }}</li>-->

</ol>

      </div>

  </div>

{% endblock %}
