
{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


{% endblock%}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        Service detail
      </span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">

        {{ nameOfService }}

      </h1>

        <strong class="govuk-tag govuk-!-margin-top-0 govuk-!-margin-bottom-8">{{ serviceMaturity }}</strong>

        <p class="govuk-body govuk-!-margin-bottom-8">
          Last reviewed: 7 January 2021
          </p>


    </div>
    </div>

      <div class="govuk-grid-row">




      <div class="govuk-grid-column-two-thirds">

        <p>Contents</p>

        <ol class="govuk-list govuk-list--dashed">
          <li>&mdash; <a href="#overview">Overview of the service</a></li>
          <li>&mdash; <a href="#purpose">Purpose of the service</a></li>
          <li>&mdash; <a href="#delivery">Delivery of the service</a></li>
          <li>&mdash; <a href="#management">Management of the service</a></li>
        </ol>

      <h2 class="govuk-heading-l"><a name="overview">Overview of this service</h2>
      <h3 class="govuk-heading-m">Service description</h3>


      <p>
        {% if serviceDescription.length > 0 %}
        {{ serviceDescription }}
        {% else %}

          No service description recorded

        {% endif %}
      </p>

      <h3 class="govuk-heading-m">MHCLG's role in the service</h3>

      <p>
        {% if MHCLGInputDescription.length > 0 %}

            {{ MHCLGInputDescription }}

        {% else %}

              No description of MHCLG's role in the service.

        {% endif %}
        </p>

        <!--<p>
        Aspects of MHCLG's involvement in the service: {{ roleOfMHCLG }}
      </p>-->

  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="purpose">Purpose of this service</h2>

      <h3 class="govuk-heading-m">Who does this service help?</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              End user
          </dt>
          <dd class="govuk-summary-list__key">
            User need
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            {% for item in endUser %}

              {{item}}<br />

            {% endfor %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ endUserNeeds }}
          </dd>
        </div>
        </dl>



        <h3 class="govuk-heading-m">Policy objective</h3>
        <p>
          {{ policyObjective }}
        </p>

        <h3 class="govuk-heading-m">Departmental priority</h3>
        <p>

          {% if departmentalPriority.length > 0 %}

              {{ departmentalPriority }}

          {% else %}

                Not linked to any priority.

          {% endif %}<br />
          <a href="ministerial-priorities">See all services for this departmental priority</a>
        </p>




  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="delivery">Delivery of this service</h2>

      <h3 class="govuk-heading-m">The service as experienced by users</h3>

      <!-- <p>Partners involved: {{ serviceProvider }}</p> -->

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Steps
          </dt>
          <dd class="govuk-summary-list__key">
            Delivered by
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
              1. Views GOV.UK guidance on buying, selling or letting

          </dt>
          <dd class="govuk-summary-list__value">
            MHCLG, BEIS and GDS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            2. Uses Getting a new energy certificate on GOV.UK to find energy assessors
          </dt>
          <dd class="govuk-summary-list__value">
            MHCLG
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            3. Books an energy assessment
          </dt>
          <dd class="govuk-summary-list__value">
            Energy assessors registered with accreditation schemes

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            4. Energy assessment of the property
          </dt>
          <dd class="govuk-summary-list__value">
            Energy assessors registered with accreditation schemes

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            5. Receives a link to energy certificate for the property

          </dt>
          <dd class="govuk-summary-list__value">
            Energy assessors registered with accreditation schemes

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            5. Views the energy certificate for the property on Find an energy certificate on GOV.UK
          </dt>
          <dd class="govuk-summary-list__value">
            MHCLG

          </dd>
        </div>
        </dl>



    <h3 class="govuk-heading-m">
      Funding distributed by the service
    </h3>

    <p>
      No funding is distributed by the service.
    </p>

    <h3 class="govuk-heading-m">
      Connected services
    </h3>

    <p>
      Find an energy certificate<br />
      <a href="service-info?numberOfService=10">See the service information for Find an energy certificate</a>
    </p>


<!--
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Funding amount
        </dt>
        <dd class="govuk-summary-list__key">
           Financial year
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 7,550,000
        </dt>
        <dd class="govuk-summary-list__value">
          2020 to 2021
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 12,750,000
        </dt>
        <dd class="govuk-summary-list__value">
          2021 to 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 9,250,000
        </dt>
        <dd class="govuk-summary-list__value">
          2022 to 2023
        </dd>
      </div>
    </dl>
-->





      <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="management">Management of this service</h2>

      <h3 class="govuk-heading-m">Area and team</h3>

  <dl class="govuk-summary-list govuk-!-margin-bottom-8">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Directorate
        </dt>
        <dd class="govuk-summary-list__value">
          {% if directorate.length > 0 %}
          <a href="#">{{ directorate }}</a>
          {% else %}

            No directorate recorded.

          {% endif %}

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy team
        </dt>
        <dd class="govuk-summary-list__value">
          {% if policyTeam.length > 0 %}
          <a href="#">{{ policyTeam }}</a>
          {% else %}

            No policy team recorded.

          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy partners
        </dt>
        <dd class="govuk-summary-list__value">
          {% if FTE.length > 0 %}
          <a href="#">{{ policyPartners }}</a>
          {% else %}

            No policy partners  recorded.

          {% endif %}

        </dd>
      </div>
      </dl>


            <h3 class="govuk-heading-m">Budget to run the service</h3>

            <p>
            {% if serviceBudget.length > 0 %}
            {{ serviceBudget }}
            {% else %}

              No budget information recorded.

            {% endif %}
            </p>


            <h3 class="govuk-heading-m">Full time equivalent (FTE) staff</h3>

            {% if FTE.length > 0 %}
            <p>
              {{ FTE }}
            </p>
            {% else %}

              <p>
                No FTE information recorded.
              </p>

            {% endif %}


            <h3 class="govuk-heading-m">Contact for this service</h3>


            {% if serviceBudget.length > 0 %}
            {{ serviceBudget }}
            {% else %}

            <p>
              No contact information recorded.
            </p>

            {% endif %}



<div class="govuk-inset-text govuk-!-margin-top-8">
      <p>
        <a href="feedback-for-service">Is something wrong with this information?</a>
        </p>
</div>
    </div>

    <div class="govuk-grid-column-one-third">


      </div>

  </div>

{% endblock %}
