
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        Service detail
      </span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">

        Appeal a Planning Decision

      </h1>

        <strong class="govuk-tag govuk-!-margin-top-0 govuk-!-margin-bottom-8">Ongoing</strong>
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-!-margin-bottom-8">Currently in beta</strong>



<!--        <p class="govuk-body govuk-!-margin-bottom-8">
          Last reviewed: 7 January 2021
          </p>-->


    </div>
    </div>

      <div class="govuk-grid-row">




      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This information isn't verified as representative of this service. If you are a service owner and can help verify this information <a href="verify-service">contact us</a>.
        </strong>
      </div>

        <h2 class="govuk-heading-l">Contents</h2>

        <ol class="govuk-list govuk-list--dashed">
          <li>&mdash; <a href="#overview">Overview of the service</a></li>
          <li>&mdash; <a href="#purpose">Purpose of the service</a></li>
          <li>&mdash; <a href="#delivery">Delivery of the service</a></li>
          <li>&mdash; <a href="#management">Management of the service</a></li>
        </ol>

      <h2 class="govuk-heading-l"><a name="overview">Overview of the service</h2>
      <h3 class="govuk-heading-m">Service description</h3>


      <p>

This service is for citizens who have been refused planning permission by their local planning authority (LPA) and wish to appeal that decision, either directly or through their agents.
      </p>

      <h3 class="govuk-heading-m">MHCLG's role in the service</h3>

      <p>

        MHCLG is responsible for delivery of planning policy to support housing and economic growth while also protecting the natural environment.
        </p>

        <h3 class="govuk-heading-m">Planning Inspectorate's role in the service</h3>

        <p>

          The inspectorate delivers the service, which is hosted on GOV.UK.
          </p>


        <!--<p>
        Aspects of MHCLG's involvement in the service: {{ roleOfMHCLG }}
      </p>-->

  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="purpose">Purpose of the service</h2>

      <h3 class="govuk-heading-m">Who does this service help?</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              End user
          </dt>
          <dd class="govuk-summary-list__key">
            User need
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
              Appellant
          </dt>
          <dd class="govuk-summary-list__value">
            I need to know if I'm allowed to make desired changes to my property.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
              Agent
          </dt>
          <dd class="govuk-summary-list__value">
            I need to make the best possible case for my clients and keep them informed of progress.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            LPA

          </dt>
          <dd class="govuk-summary-list__value">

I need to ensure all the relevant information from my authority will be reviewed by the Inspector.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Interested party

          </dt>
          <dd class="govuk-summary-list__value">

I need to know what development has been approved in my community and that my views are considered
          </dd>
        </div>
        </dl>


        <h3 class="govuk-heading-m">Policy</h3>

        <h4 class="govuk-heading-s">Policy objective</h4>
        <p>
          None recorded.
        </p>

        <h4 class="govuk-heading-s">Departmental priority</h4>
        <p>
          1 - More better quality, safer, greener and more affordable homes<br />
          <a href="#">See all service for this departmental priority</a>
        </p>




  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="delivery">Delivery of the service</h2>

      <h3 class="govuk-heading-m">The service that is delivered</h3>

      <!-- <p>Partners involved: {{ serviceProvider }}</p> -->

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Stages
          </dt>
          <dd class="govuk-summary-list__key">
            Delivered by
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Views GOV.UK guidance on buying, selling or letting
          </dt>
          <dd class="govuk-summary-list__value">
            Planning Inspectorate and GDS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Uses Planning an Appeal Decision to appeal
          </dt>
          <dd class="govuk-summary-list__value">
            Planning Inspectorate
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Supporting information provided for appeal
          </dt>
          <dd class="govuk-summary-list__value">
            Local Planning Authority

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Considers appeal
          </dt>
          <dd class="govuk-summary-list__value">
              Planning Inspectorate
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Publishes decision
          </dt>
          <dd class="govuk-summary-list__value">
              Planning Inspectorate
          </dd>
        </div>
        </dl>



    <h3 class="govuk-heading-m">
      Funding distributed by the service
    </h3>

    <p>
      No funding is distributed by the service.
    </p>

    <h3 class="govuk-heading-m">
      Connected services
    </h3>

    <p>
      There are no connected services within MHCLG or the Planning Inspectorate
    </p>



      <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="management">Management of this service</h2>

      <h3 class="govuk-heading-m">Area and team</h3>

  <dl class="govuk-summary-list govuk-!-margin-bottom-8">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy area / programme
        </dt>
        <dd class="govuk-summary-list__value">
          <!-- policyGroup --> <a href="#">Planning</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy team
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#">Planning</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy partners
        </dt>
        <dd class="govuk-summary-list__value">
          None
        </dd>
      </div>
      </dl>


            <h3 class="govuk-heading-m">Budget for the service</h3>

        <p>
          No information recorded.
        </p>


      <h3 class="govuk-heading-m">Full time equivalent (FTE) staff</h3>

      <p>
        No information recorded.
      </p>



            <h3 class="govuk-heading-m">Contact for this service</h3>

            <p>
              Tom Warth, Service owner<br />
appeals.feedback@planninginspectorate.gov.uk
            </p>



<div class="govuk-inset-text govuk-!-margin-top-8">

  <p>
    Does the information for this service look correct or is something not right? <a href="feedback">Tell us</a>.
    </p>

</div>
    </div>

    <div class="govuk-grid-column-one-third">


      </div>

  </div>

{% endblock %}
