
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Verify a service
      </h1>


      <p>
        IF USER HAS COME THROUGH FROM A SERVICE WE CAN USE THIS
      </p>
      <p>
        What you need to do
      </p>

      <p>
        Who can do this (we need someone who knows)
      </p>

      <p>
        Need to capture who they are are
      </p>


    </div>
  </div>

{% endblock %}
