{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


{% endblock%}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">

        MHCLG's services

      </h1>


    </div>

  </div>

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-third">


        <!--<p>
          x <a href="">MHCLG only does policy X</a>
        </p>-->

<!--
        <p>
          x <a href="">Policy with a service</a>
        </p>

        <p>
          x <a href="">3 policy + service with money/commissioning (ldcu)</a>
        </p>

        <p>
          x <a href="">4. policy + service + oversight (shielding, H2B)</a>
        </p>
-->

<h2 class="govuk-heading-m">Our role in the service</h2>

<p>
  <a href="service-list">All services</a><br />
  Alphabetical list of all the department's services
</p>

        <p>
          <a href="service-list-policy-delivery">Policy and delivery</a><br />
          Services where we have a policy role and deliver the service to end users
        </p>

        <p>
          <a href="service-list-policy">Policy only</a><br />
          Services where we have a policy role, but do not deliver the service
        </p>



    </div>


    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">Priorities and goals</h2>


      <p>
        <a href="ministerial-priorities">Departmental priorities</a><br />
        Services grouped by departmental priority
      </p>

      <p>
        <a href="policy-objectives">Policy objectives</a><br />
        A list of the policy objectives for all of the department's services
      </p>

      <p>
        <a href="all-policy-groups">Policy areas</a><br />
        Services grouped by policy area
      </p>

      <p>
        <a href="policy-teams">Policy teams</a><br />
        Services grouped by policy team
      </p>



  </div>
    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">Users and partners</h2>


      <p>
        <a href="end-users">End users</a><br />
        A list of the end users who are served by our services
      </p>

      <p>
        <a href="end-user-needs-list">End user needs</a><br />
        A list of the end user needs for our services
      </p>

      <p>
        <a href="service-providers">Partners</a><br />
        Services grouped by the partner organisations we work with
      </p>


  </div>



  </div>

{% endblock %}
