
{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "javascript:history.go(-1)"
}) }}


{% endblock%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        End users of services
      </h1>


  <p>
    Business owner<br>
    Developer<br>
    Disabled home occupant<br>
    Ex-offender<br>
    Grenfell survivor<br>
    Home owner<br>
    Interested party<br>
    Leaseholder<br>
    Local Authority<br>
    Local Resident<br>
Local taxpayer<br>
Member of the public<br>
Person who wants funding for their initiative<br>
Potential home buyer<br>
Public land owner<br>
Rough Sleeper<br>
Tenant<br>
Troubled Family<br>
Victim of domestic abuse<br>
Vulnerable person<br>


  </p>



<div class="govuk-inset-text">
      <p>
        <a href="feedback-for-service">Is something wrong with this information?</a>.
        </p>
</div>
    </div>
  </div>

{% endblock %}
