
{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Feedback for service
      </h1>

      <p>
        o Something isn't right<br/>
        0 Something is missing and I can provide that information<br />
      </p>

      <p>
        Are you the service owner? (OR what is your role?)
      </p>


    </div>
  </div>

{% endblock %}
