
{% extends "layout.html" %}

{% block pageTitle %}
  Services
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MHCLG’s services
      </h1>



      <div class="govuk-grid-row govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-bottom-0" >

      <p class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

          35

      </p>
      <p class="govuk-body govuk-!-font-size-24 ">
          <span class="govuk-visually-hidden">services</span>
      </p>

      </div>
      <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-0" >
<p class="govuk-body-l">Services delivered by MHCLG and partner organisations - last updated on 11 January 2021.</p>
        </div>


      </div>
      </div>
  </div>









      <div class="govuk-grid-row govuk-!-margin-bottom-8">

        <h2 class="govuk-heading-m">
          MHCLG’s role
        </h2>
        <div class="govuk-grid-column-one-half">

              <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter" >

      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

      		<a href="/v1/dept-role" >28</a>

      </p>
      <p class="govuk-body govuk-!-font-size-18 " >
          funding
      </p>

      </div>

      <div class="govuk-grid-column-one-quarter" >


      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

      		<a href="/v1/dept-role" >28</a>

      </p>
      <p class="govuk-body govuk-!-font-size-18 " >
          policy
      </p>

      </div>

      <div class="govuk-grid-column-one-quarter">


      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

          <a href="/v1/dept-role">11</a>

      </p>
      <p class="govuk-body govuk-!-font-size-18 ">
          delivery
      </p>

      </div>

      <div class="govuk-grid-column-one-quarter">


      <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

          <a href="/v1/dept-role">4</a>

      </p>
      <p class="govuk-body govuk-!-font-size-18 ">
          data collection
      </p>

      </div>
      </div>
      </div>

      <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">

    <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

        <a href="/v1/dept-role">1</a>

    </p>
    <p class="govuk-body govuk-!-font-size-18 ">
        billing
    </p>

    </div>

    <div class="govuk-grid-column-one-quarter">

  <p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

      <a href="/v1/dept-role">1</a>

  </p>
  <p class="govuk-body govuk-!-font-size-18 ">
      lending money
  </p>

  </div>

  <div class="govuk-grid-column-one-quarter">

<p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

    <a href="/v1/dept-role">2</a>

</p>
<p class="govuk-body govuk-!-font-size-18 ">
    consultation
</p>

</div>

<div class="govuk-grid-column-one-quarter">

<p class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">

  <a href="/v1/dept-role">19</a>

</p>
<p class="govuk-body govuk-!-font-size-18 ">
  guidance
</p>

</div>
      </div>

      </div>


      </div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row" >

    <dt class="govuk-summary-list__key" style="width: 70%;">
      Name of service
    </dt>
    <dd class="govuk-summary-list__value" style="width: 30%; font-weight:700;"">
      MHCLG’s role
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=6">Advice on making places Covid Secure</a><br>
      No summary
    </dt>
    <dd class="govuk-summary-list__value">
    1. Guidance<br>
    2. Policy
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=15">Apply for a Disabled Facilities Grant</a><br>
      The DFG is a grant administered by local authorities in England to help fund home adaptations so that eligible people can live safely and independently. Home adaptations can include handrails, stairlifts, wet-rooms, ramps and assistive technology.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding<br>
    2. Policy
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=21">Business Rates Retention allocations</a><br>
      Local authorities send in their business rate receipts and then receive a share of the total according to a formula which is set by MHCLG
    </dt>
    <dd class="govuk-summary-list__value">
    1. Consultation<br>
    2. Policy
    </dd>
  </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=14">Buy a home with a First Homes discount [under consultation]</a><br>
        Complete a purchase of a First Home after passing eligibility checks
      </dt>
      <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=24">Buy with Help to buy</a><br>
        First time buyers can buy a home with a government-funded bonus payment or loan.
      </dt>
      <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance<br>
      3. Lending money<br>
      4. Funding
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=26">ECLAIMS</a><br>
        The European Structural and Investment Funds Growth programme is funding for projects that create jobs and supports local growth. Funding applicants use Eclaims to qualify for and receive payments
      </dt>
      <dd class="govuk-summary-list__value">
      1. Funding<br>
      2. Data collection
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=17">Future High Streets Fund / Towns Fund</a><br>
        The funding can be used by Lead Councils at the head of a Town Deal Board to improve transport and access into town centres and invest in vital infrastructure. This is a key part of the government’s local growth agenda.
      </dt>
      <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Funding
      </dd>
    </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=4">Get Accelerated Construction Investment funding</a><br>
      Funding award to local authorities so they can develop surplus public sector land for council housing schemes
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=11">Get Affordable Homes funding</a><br>
      No summary
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=9">Get an exemption from stamp duty</a><br>
      First-time buyers are entitled to relief for the first £300,000 of Stamp Duty on properties up to a value of £500,000. The conveyancer arranges for the discount to be applied.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=12">Get funding for Covid Secure Marshalls</a><br>
      Money is being allocated to all district and unitary authorities including metropolitan borough and London borough councils in England to spend on COVID-19 related compliance and enforcement activities.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding<br>
    2. Guidance<br>
    3. Policy
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=20">Get funding for local digital projects</a><br>
      Local Digital Collaboration Fund awards money to teams that meet the criteria and helps them to succeed in their projects.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding<br>
    2. Guidance
  </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=22">Get funding from the Bellwin Scheme</a><br>
      The scheme provides emergency financial assistance to local
authorities in England. Assistance under the scheme is usually given as the result of an emergency caused by the weather, but relief may also be available in other circumstances: for example, the outbreak of foot and mouth disease  the explosion at Buncefield fuel terminal, the riots of August 2011, and the Grenfell Tower disaster.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Funding<br>
    2. Policy
  </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=31">Get in touch with MHCLG</a><br>
      The Department provides contact details and basic information about its responsibilities online
    </dt>
    <dd class="govuk-summary-list__value">
      1. Delivery
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService="30>Get updated on Government's progress against policy commitments</a><br>
      MHCLG provides updates and data on how policies are performing to Ministers to share in the Houses of Parliament and to be put on the public record for all to see
    </dt>
    <dd class="govuk-summary-list__value">
      1. Delivery
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=2">Get your building tested for ACM cladding</a><br>
      Testing facilities made available free of charge so tests can be carried out
    </dt>
    <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=7">Link into the local government digital network</a><br>
      Local gov digi community is provided by LDCU to create a movement around local government digital transformation
    </dt>
    <dd class="govuk-summary-list__value">
    1. Delivery
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=29">Local Lettings</a><br>
      Set up lettings agencies to help local areas make the most efficient use of rental accommodation, foster the development of strong relationships between landlords and tenants, and where possible develop a property portfolio to meet the needs of rough sleepers.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy<br>
    2. Guidance<br>
    3. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=5">Make a Freedom of Information request</a><br>
      Get a response to a freedom of information request
    </dt>
    <dd class="govuk-summary-list__value">
    1. Delivery
    </dd>
  </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=8">Pay Council tax</a><br>
        No summary
      </dt>
      <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance<br>
      3. Data collection
      </dd>
    </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=35">Negotiate the local government finance settlement with HMT</a><br>
      MHCLG acts on behalf of Local Authorities to negotiate the settlement
    </dt>
    <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Delivery
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService28">Next Steps Accomodation</a><br>
      Ensure rough sleepers brought into emergency accommodation in response to COVID-19, do not return to sleeping rough.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy<br>
    2. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=10">Offenders Accommodation</a><br>
      In the 12 weeks up to their release date, offenders involved in the pilot receive intensive support, targeted to their individual needs, to tackle issues like alcohol and drug dependency. Following release, offenders are given up to two years of secure and stable accommodation, funded by their benefits where the local housing market permits, as well as specific assistance with employment, education, benefits and family engagement.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy<br>
    2. Guidance<br>
    3. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=33">Pay Business Rates</a><br>
      Set the framework for business rates to help fund local government budgets.
    </dt>
    <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance<br>
      3. Billing<br>
      4. Data collection
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=19">Resilience and Recovery</a><br>
      Resilience and Recovery help communities to prepare for, respond to, recover and learn from emergencies. These include things such as the Grenfell disaster, Covid-19 and seasonal flooding.
    </dt>
    <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Delivery<br>
      3. Guidance<br>
      4. Data collection
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=1">Respond to Government consultations</a><br>
      Consultations are published and answers accepted online
    </dt>
    <dd class="govuk-summary-list__value">
      1. Delivery
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=18">Revenue Support Grant</a><br>
      The Revenue Support Grant is a central government grant given to local authorities which can be used to finance revenue expenditure on any service. The amount of Revenue Support Grant to be provided to  authorities is established through the local government
finance settlement
    </dt>
    <dd class="govuk-summary-list__value">
      1. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=25">Rough Sleeping Accommodation programme</a><br>
      Navigators will work with a range of multidisciplinary teams and provide both navigation and co-ordination support, using strong local relationships, expertise and collective working.
    </dt>
    <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance<br>
      3. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=32">See MHCLG's Accounts</a><br>
      MHCLG is required to publish a statement of its accounts
    </dt>
    <dd class="govuk-summary-list__value">
      1. Delivery
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=3">Shielding</a><br>
      Shielding is a multi-departmental service which aims to protect those most vulnerable in society who will be more susceptible to Covid-19. They are provided with deliveries of food and medicine along with social contact.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy<br>
    2. Delivery<br>
    3. Data collection<br>
    4. Guidance
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=23">Somewhere Safe to Stay</a><br>
      To rapidly assess the needs of people who are sleeping rough or those who are at risk of sleeping rough and support them to get the right help.
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy<br>
    2. Guidance<br>
    3. Funding
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="font-weight:400;">
      <a href="/v1/service-info?numberOfService=34">Submit a local plan for examination</a><br>
      PINS examine local plans on behalf of the secretary of state
    </dt>
    <dd class="govuk-summary-list__value">
    1. Policy
    </dd>
  </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=13">Supported Lettings</a><br>
        Flexible support funding to help people at risk of rough sleeping to sustain their tenancies in homes across the housing sector.
      </dt>
      <dd class="govuk-summary-list__value">
      1. Policy<br>
      2. Guidance<br>
      3. Funding
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="font-weight:400;">
        <a href="/v1/service-info?numberOfService=16">Take part in deciding the future of the Grenfell site</a><br>
        MHCLG took on this service because of the breakdown in relationship between the local authority and the end users.
      </dt>
      <dd class="govuk-summary-list__value">
      1. Delivery
      </dd>
    </div>

</dl>






    </div>
    <div class="govuk-grid-column-one-third">

  <h2 class="govuk-heading-m">Related content</h2>

      <p>
        <a href="/v1/policy-areas">All policy areas</a><br>
        <a href="/v1/service-providers">All service providers</a><br>
        <a href="/v1/end-users">All end users of services</a><br>

      </p>

      <p>
        <a href="add-service">Add a service</a>
      </p>

    </div>
  </div>

{% endblock %}
