
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact service map team
      </h1>

      <p>
      If you can offer support, contribute or collaborate to improve the service please get in touch by emailing us at ServiceMap@communities.gov.uk. We'd love to hear from you.
      </p>



    </div>
  </div>

{% endblock %}
