
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        End users of services
      </h1>


      <ol class="govuk-list govuk-list--number">

      {% set count = 0 %}
    {% for item in userName %}
      <li>{{item}}</li>
      {% set count = count + 1 %}
    {% endfor %}
      </ol>




  <div class="govuk-inset-text govuk-!-margin-top-8">
        <p>
          <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">Is something wrong with this information?</a>
          </p>
  </div>

    </div>
  </div>

{% endblock %}
