
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        End users of services
      </h1>


      <ol class="govuk-list govuk-list">

      {% set count = 0 %}
    {% for item in userName %}
      <li>{{item}}</li>
      {% set count = count + 1 %}
    {% endfor %}
      </ol>


  </p>


    </div>
  </div>

{% endblock %}
