
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Help us make this service better
      </h1>

      <p>
        If you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>can verify a service's information</li>
        <li>know information on a service is incorrect or missing</li>
        <li>have a suggestion to help improve the service beyond service information</li>
      </ul>

      <p>
         you can <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">contribute feedback</a>.
      </p>

      <p>
        <a hef="contact-team"></a>
      </p>


      <h2 class="govuk-heading-s">
        Can you offer support for this service?
      </h2>

      <p>
        If you can offer support, can contribute or collaborate to improve the service please <a href="contact-team">get in touch</a>. We'd love to hear from you.
      </p>

    </div>
  </div>

{% endblock %}
