{% extends "layout_with_banner.html" %}

{% block pageTitle %}
  Services
{% endblock %}


{% block content %}


  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">

        MHCLG's services

      </h1>

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <p class="govuk-notification-banner__heading">
          Updates on this service map are currently paused. The last update was in November 2021. For more information, <a class="govuk-notification-banner__link" href="/feedback">please contact us</a>.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}

      <p class="govuk-body-l govuk-!-margin-bottom-9">
        Browse services associated with the Ministry for Housing, Communities and Local Government. This is an internal service.
      </p>


    </div>

    <div class="govuk-grid-column-one-third govuk-!-padding-top-4" style="background: black;">

      <p class="govuk-body-m" style="color:white;">
        This service is always improving. If you
      </p>
      <ul class="govuk-list govuk-list--bullet"  style="color:white;">
        <li>see information that may be missing or incorrect</li>
        <li>have an idea to shape the future of the service map</li>
        <li>are working on something you want to share</li>
      </ul>
      <p class="govuk-body-m govuk-!-margin-padding-4"  style="color:white;">
        <a href="feedback"  style="color:white;">contact the team</a>.
      </p>


    </div>

  </div>

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-one-third">


        <!--<p>
          x <a href="">MHCLG only does policy X</a>
        </p>-->

<!--
        <p>
          x <a href="">Policy with a service</a>
        </p>

        <p>
          x <a href="">3 policy + service with money/commissioning (ldcu)</a>
        </p>

        <p>
          x <a href="">4. policy + service + oversight (shielding, H2B)</a>
        </p>
-->

<h2 class="govuk-heading-m">The services</h2>



        <p>
          <a href="service-list">All services</a>
        </p>


        <p>
          <a href="service-list-delivery">Services by delivery</a><br />
          Services where MHCLG delivers the end service to end users
        </p>

        <!--<p>
          <a href="service-list-policy">Policy only</a><br />
          Services where we have a policy role, but do not deliver the service
        </p>-->






    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">&nbsp;</h2>


      <p>
        <a href="end-users">End users</a><br />
        A list of the end users who are served by our services
      </p>



            <!--<p>
              <a href="policy-teams">Policy teams</a><br />
              Services grouped by policy team
            </p>-->


      <!--<p>
        <a href="end-user-needs-list">End user needs</a><br />
        A list of the end user needs for our services
      </p>-->



  </div>


    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m">&nbsp;</h2>


      <p>
        <a href="priority-outcomes">Departmental priorities</a><br />
        <!--Services grouped by departmental priority-->
      </p>


                  <p>
                    <a href="all-policy-groups">Directorates</a><br />
                    Services grouped by directorate
                  </p>


      <p>
        <a href="service-providers">Partners</a><br />
        The partner organisations we work with
      </p>



  </div>




  </div>

{% endblock %}
