
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MHCLG services mapping
      </h1>

      <h2 class="govuk-heading-m">v1</h2>

      <p>
        <a href="v1/index">Version 1</a>
      </p>

      <h2 class="govuk-heading-m">v2</h2>

      <p>
        <a href="v2/index">Index</a><br />
        <a href="v2/service-info-1">Version 1</a><br />
        <a href="v2/service-info-2">Version 2</a><br />
        <a href="v2/service-info-3">Version 3</a><br />
        <a href="v2/service-info-4">Version 4</a>

      </p>

      <h2 class="govuk-heading-m">v3</h2>

      <p>
        <a href="v3/service-info-epc">EPC service page</a>
      </p>


    </div>
  </div>

{% endblock %}
