
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Service partner details</span>
      <h1 class="govuk-heading-xl">

         {{ namedProvider }}

      </h1>

    </div>

  </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Services</h2>


          {% if directorateServices.length == 0 %}

          <p>
            No services recorded for this service partner.
          </p>

          {% endif %}

          <ol class="govuk-list govuk-list--number">

          {% set count = 0 %}
          {% for item in providerServiceListName %}


            <li><a href="service-info?numberOfService={{ numberOfService[count] }}">{{ item }}</a></li>

          {% set count = count + 1 %}
          {% endfor %}
          </ol>


      </div>

  </div>

{% endblock %}
