
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Service providers
      </h1>


      <ol class="govuk-list govuk-list">
        {% set count = 0 %}
      {% for item in providerName %}
        <!--<li><a href="service-provider-detail?providerID={{ providerID[count] }}&providerName={{ providerName[count] }}">{{item}}</a></li>-->
        {% set count = count + 1 %}
      {% endfor %}

      {% set count = 0 %}
    {% for item in providerName %}
      <li>{{item}}</li>
      {% set count = count + 1 %}
    {% endfor %}
      </ol>



<div class="govuk-inset-text">
      <p>
        <a href="feedback-for-service">Is something wrong with this information?</a>.
        </p>
</div>
    </div>
  </div>

{% endblock %}
