
{% extends "layout_with_banner_and_back.html" %}

{% block pageTitle %}
  Services
{% endblock %}



{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        Service detail
      </span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">

        {{ nameOfService }}

      </h1>

        {% if serviceMaturity.length > 0 %}
        <strong class="govuk-tag govuk-!-margin-top-0 govuk-!-margin-bottom-8">
          {{ serviceMaturity }}
        </strong>
        {% endif %}

        <!--<p class="govuk-body govuk-!-margin-bottom-8">
          Last reviewed: 7 January 2021
          </p>-->



          {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

          {% set html %}
            <p class="govuk-notification-banner__heading">
              This is all the information we have about this service right now. If you own this service, please <a class="govuk-notification-banner__link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">contact us</a>.
            </p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html
          }) }}

    </div>
    </div>

      <div class="govuk-grid-row">




      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">Contents</h2>

        <ol class="govuk-list govuk-list--dashed">
          <li>&mdash; <a href="#overview">Overview of the service</a></li>
          <li>&mdash; <a href="#purpose">Purpose of the service</a></li>
          <li>&mdash; <a href="#delivery">Delivery of the service</a></li>
          <li>&mdash; <a href="#management">Management of the service</a></li>
        </ol>

      <h2 class="govuk-heading-l"><a name="overview"></a>Overview of this service</h2>
      <h3 class="govuk-heading-m">Service description</h3>


      <p>
        {% if serviceDescription.length > 0 %}

        {{ serviceDescription }}

        {% else %}

          No service description recorded.

        {% endif %}
      </p>

      <h3 class="govuk-heading-m">MHCLG's role in the service</h3>

      <p>
        {% if MHCLGInputDescription.length > 0 %}

            {{ MHCLGInputDescription }}

        {% else %}

              No description of MHCLG's role in the service.

        {% endif %}
        </p>

        <!--<p>
        Aspects of MHCLG's involvement in the service: {{ roleOfMHCLG }}
      </p>-->

  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="purpose"></a>Purpose of this service</h2>

      <h3 class="govuk-heading-m">Users of the service and their needs</h3>

    {% if user1.length > 0 %}

    <div class="govuk-inset-text">
    <p>
      This information has been provided by the service team.
    </p>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            User
        </dt>
        <dd class="govuk-summary-list__key">
            User needs
        </dd>
        <dd class="govuk-summary-list__key">
          User type
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            {{user1}}
        </dt>
        <dd class="govuk-summary-list__value">
            {{user1Needs}}
        </dd>
        <dd class="govuk-summary-list__value">
            {{user1Type}}
        </dd>
      </div>

    {% endif %}

    {% if user2.length > 0 %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          {{user2}}
      </dt>
      <dd class="govuk-summary-list__value">
          {{user2Needs}}
      </dd>
      <dd class="govuk-summary-list__value">
          {{user2Type}}
      </dd>
    </div>

    {% endif %}

    {% if user3.length > 0 %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          {{user3}}
      </dt>
      <dd class="govuk-summary-list__value">
          {{user3Needs}}
      </dd>
      <dd class="govuk-summary-list__value">
          {{user3Type}}
      </dd>
    </div>

    {% endif %}

    {% if user4.length > 0 %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          {{user4}}
      </dt>
      <dd class="govuk-summary-list__value">
          {{user4Needs}}
      </dd>
      <dd class="govuk-summary-list__value">
          {{user4Type}}
      </dd>
    </div>

    {% endif %}

    {% if user5.length > 0 %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          {{user5}}
      </dt>
      <dd class="govuk-summary-list__value">
          {{user5Needs}}
      </dd>
      <dd class="govuk-summary-list__value">
          {{user5Type}}
      </dd>
    </div>

    {% endif %}

    {% if user6.length > 0 %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          {{user6}}
      </dt>
      <dd class="govuk-summary-list__value">
          {{user6Needs}}
      </dd>
      <dd class="govuk-summary-list__value">
          {{user6Type}}
      </dd>
    </div>

    {% endif %}

    {% if user1.length > 0 %}
        </dl>
    {% endif %}



    {% if not user1 and collatedEndUsers.length > 0 %}

    <div class="govuk-inset-text">
    <p>
      This is the overall purpose. We also want to know about specific users and what they need.
    </p>
    </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              User type
          </dt>
          <dd class="govuk-summary-list__key">
              User
          </dd>
          <dd class="govuk-summary-list__key">
            User need
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
              End users
          </dt>
          <dd class="govuk-summary-list__value">
              {{ collatedEndUsers }}
          </dd>
          <dd class="govuk-summary-list__value">
          {{collatedEndUsersNeeds}}
          </dd>
        </div>

        {% endif %}

        {% if not user1 and collatedSupportingUsers.length > 0 %}

        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Supporting users
          </dd>
          <dd class="govuk-summary-list__value">
            {{collatedSupportingUsers}}
          </dd>
          <dd class="govuk-summary-list__value">
            {{ collatedSupportingUsersNeeds }}
          </dd>
        </div>

        {% endif %}

        {% if not user1 and collatedEndUsers.length > 0 %}
        </dl>
        {% endif %}

        {% if not user1 and not collatedEndUsers %}

        <p>
          No user information for this service.
        </p>

        {% endif %}

        <h3 class="govuk-heading-m">Policy objective</h3>
        <p>
          {% if policyObjective.length > 0 %}

              {{ policyObjective }}

          {% else %}

                Not linked to any policy objective.

          {% endif %}
        </p>

        <h3 class="govuk-heading-m">Departmental priority</h3>
        <p>

          {% if departmentalPriority.length > 0 %}

              {{ departmentalPriority }}

          {% else %}

                Not linked to any priority.

          {% endif %}<br />
          <a href="ministerial-priorities">See all services for this departmental priority</a>
        </p>




  <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="delivery"></a>Delivery of this service</h2>



      <h3 class="govuk-heading-m">The service as experienced by users</h3>

      <!-- <p>Partners involved: {{ serviceProvider }}</p> -->

      {% if servicePhase1.length > 0 %}

      <div class="govuk-inset-text">
      <p>
        This information has been provided by the service team
      </p>
      </div>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Steps
          </dt>
          <dd class="govuk-summary-list__key">
            Delivered by
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
              1. {{ servicePhase1 }}

          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase1Providers }}
          </dd>
        </div>

        {% endif %}

        {% if servicePhase2.length > 0 %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            2. {{ servicePhase2 }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase2Providers }}
          </dd>
        </div>

        {% endif %}

        {% if servicePhase3.length > 0 %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            3. {{ servicePhase3 }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase3Providers }}
          </dd>
        </div>

        {% endif%}

        {% if servicePhase4.length > 0 %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            4. {{ servicePhase4 }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase4Providers }}

          </dd>
        </div>

        {% endif %}

        {% if servicePhase5.length > 0 %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            5. {{ servicePhase5 }}

          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase5Providers }}

          </dd>
        </div>

        {% endif %}

        {% if servicePhase6.length > 0 %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            6. {{ servicePhase6 }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ servicePhase6Providers }}

          </dd>
        </div>
        {% endif %}

        {% if servicePhase1Providers.length > 0 %}
        </dl>
        {% endif %}

        {% if not servicePhase1Providers and servicePatterns.length > 0 %}
        <p>
        Service patterns: {{ servicePatterns }}
        </p>

        {% endif %}


        {% if not servicePhase1Provider and not servicePatterns %}
        <p>
          No service information is recorded.
        </p>
        {% endif %}

    <h3 class="govuk-heading-m">
      Funding distributed by the service
    </h3>

    <p>
      No funding is distributed by the service.
    </p>

    <h3 class="govuk-heading-m">
      Connected services
    </h3>

    <p>
    {% if connectedServices.length > 0 %}

      {{ connectedServices }}

      {% else %}

      No services are recorded as connected to this service.

      {% endif %}
    </p>


<!--
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Funding amount
        </dt>
        <dd class="govuk-summary-list__key">
           Financial year
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 7,550,000
        </dt>
        <dd class="govuk-summary-list__value">
          2020 to 2021
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 12,750,000
        </dt>
        <dd class="govuk-summary-list__value">
          2021 to 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            £ 9,250,000
        </dt>
        <dd class="govuk-summary-list__value">
          2022 to 2023
        </dd>
      </div>
    </dl>
-->





      <h2 class="govuk-heading-l govuk-!-margin-top-8"><a name="management"></a>Management of this service</h2>

      <h3 class="govuk-heading-m">Area and team</h3>

  <dl class="govuk-summary-list govuk-!-margin-bottom-8">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Directorate
        </dt>
        <dd class="govuk-summary-list__value">
          {% if directorate.length > 0 %}
          <a href="#">{{ directorate }}</a>
          {% else %}

            No directorate recorded.

          {% endif %}

        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy team
        </dt>
        <dd class="govuk-summary-list__value">
          {% if policyTeam.length > 0 %}
          <a href="#">{{ policyTeam }}</a>
          {% else %}

            No policy team recorded.

          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Policy partners
        </dt>
        <dd class="govuk-summary-list__value">
          {% if FTE.length > 0 %}
          <a href="#">{{ policyPartners }}</a>
          {% else %}

            No policy partners  recorded.

          {% endif %}

        </dd>
      </div>
      </dl>


            <h3 class="govuk-heading-m">Budget to run the service</h3>

            <p>
            {% if serviceBudget.length > 0 %}
            {{ serviceBudget }}
            {% else %}

              No budget information recorded.

            {% endif %}
            </p>


            <h3 class="govuk-heading-m">Full time equivalent (FTE) staff</h3>

            {% if FTE.length > 0 %}
            <p>
              {{ FTE }}
            </p>
            {% else %}

              <p>
                No FTE information recorded.
              </p>

            {% endif %}


            <h3 class="govuk-heading-m">Contact for this service</h3>


            {% if serviceBudget.length > 0 %}
            {{ serviceBudget }}
            {% else %}

            <p>
              No contact information recorded.
            </p>

            {% endif %}



<div class="govuk-inset-text govuk-!-margin-top-8">
      <p>
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqJ6zYGuyB0FKhjhDUQT7IuhUM1EwWjE2NDBaMEk5RjVPVEpGMDRPWkVNTy4u">Is something wrong with this information?</a>
        </p>
</div>
    </div>

    <div class="govuk-grid-column-one-third">


      </div>

  </div>

{% endblock %}
